{% extends 'layout/layout_admin.twig' %}

{% block content %}
    <h3>Novo usuário</h3>

    {{ form().openTag(form)|raw }}
    {{ formHidden(form.get('usrId')) }}
    {{ elementToRow(form.get('usrNome')) }}
    {{ elementToRow(form.get('usrEmail')) }}
    {{ elementToRow(form.get('usrTelefone')) }}
    {{ elementToRow(form.get('usrUsuario')) }}
    {{ elementToRow(form.get('usrAtivo')) }}

    <hr>
    {{ elementToRow(form.get('usrSenha')) }}
    {{ formSubmit(form.get('submit')) }}

    {{ form().closeTag(form)|raw }}
{% endblock content %}